.reviewList {
  text-align: left;
  list-style: none;
  padding: 0;
  max-width: 800px;
  margin: 20px 0;
}

.reviewItem {
  background-color: #1e293b;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-align: left;
  display: flex;
  align-items: center;
  width: 100%;
}

.reviewItem::before {
  content: "📚";
  font-size: 24px;
  margin-right: 12px;
}
